<%= if @fragments == [] do %>
  <p class="pebble-fragments-listing-placeholder">No fragments yet.</p>
<% else %>
  <.table_view
    :if={@schema.listing == :table}
    column_fields={get_visible_fields(@schema, ["column", "main", "meta"])}
    {assigns}
  />
  <.inline_view
    :if={@schema.listing == :inline}
    main_field={get_main_field(@schema)}
    meta_fields={get_visible_fields(@schema, ["meta", "column"])}
    {assigns}
  />
<% end %>

<.form :let={f} for={@changeset}
  action={~p"/#{@site}/s/#{@schema}"}
  method="post"
  class="pebble-fragments-new-form"
>
  <.input
    :for={{name, d} <- @schema.fields}
    :if={d[:required]}
    field={f[name]}
    placeholder={d[:label] || labelify(name)}
    label={if d[:type] == "checkbox", do: d[:label] || labelify(name)}
    options={d[:options]}
    class="pebble-fragments-new-form-input"
  />

  <button type="submit">Create</button>
</.form>