<.form
  class="pebble-identity-editor"
  :let={f} for={@changeset}
  action={~p"/#{@site}/identity"}
  method="post"
  data-autosave="true"
>
  <.input type="hidden" name="_method" value="put" />

  <.input
    :for={{name, d} <- @settings.fields || []}
    field={f[name]}
    label={d[:label] || labelify(name)}
    options={d[:options]}
    class="pebble-identity-editor-input"
  />

  <div class="pebble-identity-editor-actions">
    <button class="pebble-identity-editor-submit" type="submit">
      Save
    </button>
  </div>
</.form>