body, html, [data-phx-main] {
  margin: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

[data-phx-main] > header {
  width: 100%;
  text-transform: lowercase;
  background: black;
  color: white;
  padding: 0.7em 1em;
  padding-inline-end: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  gap: 15px;
}

[data-phx-main] > header h1 {
  margin: 0;
  font-size: 1em;
}

[data-phx-main] > header .group {
  gap: 1.25em;
  align-items: center;
}

[data-phx-main] > header .group a {
  white-space: nowrap;
}

/* "Reusable" sidebar component */

.sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.sidebar > aside {
  height: auto;
  flex-basis: 270px;
  padding: 0.5em;
  border-right: 1px solid var(--border-color);
  background: var(--sidebar-color);
}

.sidebar > aside nav {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.editor .other-sites a {
  border: 1px solid transparent;
}

.editor .other-sites a.selected {
  border-color: var(--border-color);
}

.sidebar > aside nav a,
.editor .other-sites a {
  border-left: 4px solid light-dark(#999, #aaa);
  display: block;
  text-decoration: none;
  padding: 0.4em 0.7em;
  margin-bottom: 0.25em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.sidebar > aside nav a:hover,
.editor .other-sites a:hover  {
  border-left-color: light-dark(black, white);
  background: light-dark(#eee, #222228);
  opacity: 1;
}

.editor .other-sites a:hover {
  background: light-dark(#eee, #222228)
}

.sidebar > aside nav a.selected,
.editor .other-sites a.selected {
  border-left-color: light-dark(black, white);
  background: light-dark(#eee, #1b1b22);
  cursor: default;
}

.editor .other-sites a.selected {
  background: light-dark(white, #222228);
}

.sidebar > main {
  position: relative;
  flex-basis: 630px;
  margin: 0 auto;
  margin-top: clamp(1.5em, 3.5vw, 3em);
  padding: 0 15px;
}

.sidebar > main:has(.editor) {
  flex-basis: 1000px;
}

/* 270 + 630 = 1000px */
@media (max-width: 1000px) {
  .sidebar aside {
    display: none;
    flex-grow: 1;
  }

  .sidebar aside.open {
    display: unset;
  }
}

.sidebar main > header:not(:first-child) {
  margin-top: 1.5em;
}

/* Main template editor */

.editor {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.editor .plane {
  flex-basis: 630px;
  display: flex;
  flex-direction: column;
}

.editor textarea {
  margin-bottom: 0;
}

.editor aside {
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.editor .id {
  border: 1px solid var(--border-color);
  background: var(--pane-color);
  padding: 0.3em 1em;
}

.editor .id::before {
  content: "#";
  color: var(--decoration-color);
}

.editor .save {
  font-size: 17px;
  padding: 0.5em 1em;
  display: flex;
  gap: 0.4em;
  text-transform: none;
  font-weight: 600;
}

.editor .visibility {
  font-size: 14px;
  text-align: center;
}

.editor .other-sites {
  margin-top: 1.5em;
}

.editor .actions {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-top: auto;
}