:root {
  --body-margin: 2em;
  --menu-height: 44px;
  --menu-radius: 25px;
}

body {
  font-family: sans-serif;
  margin: var(--body-margin);
}

a, a:visited {
  color: var(--selected-accent);
}

.pebble-header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 2em;
}

.pebble-header-title {
  margin: 0.1em 0;
}

.pebble-header-lint-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.pebble-header-title-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.pebble-header-lint {
  background: #f0f0f2;
  padding: 0.7em 1em;
  border-radius: 100px;
}

.pebble-header-menu-container {  
  display: flex;
  flex-direction: column;
  margin-left: calc(-1 * var(--body-margin));
  width: calc(100% + 2 * var(--body-margin));
}

.pebble-header-menu-container a {
  color: currentColor;
}

.pebble-header-menu,
.pebble-header-submenu {
  display: flex;
  list-style: none;
  margin: 0;
}

.pebble-header-submenu {
  gap: 1.5em;
  padding: 0.5em calc(var(--body-margin) + 1em);
  background: var(--selected-background);
  color: var(--selected-color);
}

.pebble-header-menu {
  background: #e9e9ed;
  height: var(--menu-height);
  padding: 0 var(--body-margin);
}

.pebble-header-menu-item {
  display: flex;
}

.pebble-header-menu-item.selected {
  position: relative;
  border-radius: var(--menu-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--selected-background);
  color: var(--selected-color)
}

.pebble-header-menu-item.childless {
  border-bottom-left-radius: var(--menu-radius);
  border-bottom-right-radius: var(--menu-radius);
}

.pebble-header-menu-item a,
.pebble-header-submenu-item a {
  text-decoration: none;
}

.pebble-header-menu-item.selected a,
.pebble-header-submenu-item.selected a {
  font-weight: bold;
}

.pebble-header-menu-item a {
  border-radius: var(--menu-radius);
  padding: 0.7em 1em;
  background: #e9e9ed;
}

.pebble-header-menu-item a:hover {
  background: #d0d0d7;
  cursor: pointer;
}

.pebble-header-menu-item.selected a {
  position: relative;
  z-index: 2;
  background: transparent;
}

.pebble-header-menu-item.selected::before,
.pebble-header-menu-item.selected::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: var(--menu-height);
  height: calc(var(--menu-height) / 2);
  pointer-events: none;
}

.pebble-header-menu-item.childless::before,
.pebble-header-menu-item.childless::after {
  display: none;
}

.pebble-header-menu-item.selected::before {
  left: calc(-1 * var(--menu-height));
  border-bottom-right-radius: var(--menu-radius);
  box-shadow: calc(var(--menu-height) / 2) 0 0 var(--selected-background);
}

.pebble-header-menu-item.selected::after {
  right: calc(-1 * var(--menu-height));
  border-bottom-left-radius: var(--menu-radius);
  box-shadow: calc(var(--menu-height) / -2) 0 0 var(--selected-background);
}

.dashboard {
  --selected-background: #f06595;
  --selected-accent: #a61e4d;
  --selected-color: white;
}

.records {
  --selected-background: #4c6ef5;
  --selected-accent: #364fc7;
  --selected-color: white;
}

.design {
  --selected-background: #15aabf;
  --selected-accent: #0b7285;
  --selected-color: white;
}

.console {
  --selected-background: #fbbf24;
  --selected-accent: #e67700;
  --selected-color: black;
}

.settings {
  --selected-background: #fa5252;
  --selected-accent: #c92a2a;
  --selected-color: white;
}
/* Components */

.modal {
  display: none;
}

.modal::before {
  content: "";
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: light-dark(#000000, #ffffff60);
  opacity: 0.5;
}

.modal > :first-child {
  position: relative;
  z-index: 102;
  background: white;
  background: Canvas;
  padding: 0.7em;
}
