<header>
  <h1><.link navigate={~p"/"}>pebble</.link></h1>

  <div class="group">
    <a href="#" target="_blank">View site →</a>
  </div>
</header>

<div class="sidebar">
  <% menu_items = [
    %{title: "Dashboard", route: ~p"/", icon: "hero-home"},
    %{title: "Fragments", route: ~p"/fragments", icon: "hero-square-3-stack-3d"},
    %{title: "Templates", route: ~p"/templates", icon: "hero-code-bracket"},
    %{title: "Endpoints", route: ~p"/endpoints", icon: "hero-cloud"},
    %{title: "Shell", route: ~p"/shell", icon: "hero-command-line"},
    %{title: "Layouts", route: ~p"/layouts", icon: "hero-swatch"},
    %{title: "Media", route: ~p"/media", icon: "hero-photo"},
    %{title: "Contacts", route: ~p"/contacts", icon: "hero-at-symbol"},
    %{title: "Menu", route: ~p"/menu", icon: "hero-cursor-arrow-rays"},
    %{title: "Statistics", route: ~p"/stats", icon: "hero-chart-bar"},
    %{title: "Logs", route: ~p"/logs", icon: "hero-queue-list"},
    %{title: "Settings", route: ~p"/settings", icon: "hero-cog-6-tooth"},
  ] %>

  <aside>
    <nav>
      <li :for={item <- menu_items}>
        <.link navigate={item.route}>
          <.icon name={item.icon} class="size-6" />
          {}{item.title}
        </.link>
      </li>
    </nav>
  </aside>

  <main>
    {@inner_content}
  </main>
</div>