:root {
  --selected-background: #f06595;
  --selected-accent: light-dark(#a61e4d, #f896b8);
  --selected-hover: light-dark(#f896b8, #a61e4d);
  --selected-color: white;

  --lint-color: light-dark(#f0f0f2, #00000055);
  --header-color: light-dark(#e9e9ed, #00000077);
  --header-hover: light-dark(#d0d0d7, #000000);
  --alt-color: light-dark(#f0f0f2, #00000077);
  --border-color: light-dark(#e9ecef, #53506178);

  --body-margin: 2em;
  --menu-height: 44px;
  --menu-radius: 25px;
  --header-offset: -67px;

  box-sizing: border-box;
  scrollbar-gutter: stable;
  color-scheme: light dark;
}

html {
  min-height: 100vh;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: var(--body-margin);
}

a,
a:visited {
  color: var(--selected-accent);
}

.button,
.button:visited {
  border: 1px solid currentColor;
  border-color: light-dark(ButtonBorder, var(--border-color));
  background: transparent;
  color: currentColor;
  color: ButtonText;
  text-align: center;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: var(--selected-hover);
  color: black;
}

button:hover {
  background: var(--selected-hover);
  color: black;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  input, button, select, textarea {
    border-radius: 4px;
    border: 1px solid var(--border-color);
  }
}

textarea {
  font-family: monospace;
  font-size: 1.3em;
  padding: 0.4em;
  resize: none;
}

.form-error {
  color: #e03131;
  margin: 0;
}

.pebble-main {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  align-items: flex-start;
}

.pebble-header {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  margin-bottom: 2em;
}

.pebble-header-title {
  margin: 0.1em 0;
}

.pebble-header-lint-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.pebble-header-title-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.pebble-header-site-form-dropdown {
  padding: 5px;
}

.pebble-header-lint {
  background: var(--lint-color);
  padding: 0.7em 1em;
  border-radius: 100px;
}

.pebble-header-menu-container {
  display: flex;
  flex-direction: column;
  margin-left: calc(-1 * var(--body-margin));
  width: calc(100% + 2 * var(--body-margin));
}

.pebble-header-menu-container a {
  color: currentColor;
}

.pebble-header-menu,
.pebble-header-submenu {
  display: flex;
  list-style: none;
  margin: 0;
}

.pebble-header-submenu {
  gap: 1.5em;
  padding: 0.5em calc(var(--body-margin) + 1em);
  background: var(--selected-background);
  color: var(--selected-color);
}

.pebble-header-menu {
  background: var(--header-color);
  height: var(--menu-height);
  padding: 0 var(--body-margin);
}

.pebble-header-menu-item {
  display: flex;
}

.pebble-header-menu-item.selected {
  position: relative;
  border-radius: var(--menu-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--selected-background);
  color: var(--selected-color);
}

.pebble-header-menu-item.childless {
  border-bottom-left-radius: var(--menu-radius);
  border-bottom-right-radius: var(--menu-radius);
}

.pebble-header-menu-item a,
.pebble-header-submenu-item a {
  text-decoration: none;
}

.pebble-header-menu-item.selected a,
.pebble-header-submenu-item.selected a {
  font-weight: bold;
}

.pebble-header-menu-item a {
  border-radius: var(--menu-radius);
  padding: 0.7em 1em;
}

.pebble-header-menu-item a:hover {
  background: var(--header-hover);
  cursor: pointer;
}

.pebble-header-menu-item.selected a {
  position: relative;
  z-index: 2;
  background: transparent;
}

.pebble-header-menu-item.selected::before,
.pebble-header-menu-item.selected::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: var(--menu-height);
  height: calc(var(--menu-height) / 2);
  pointer-events: none;
}

.pebble-header-menu-item.childless::before,
.pebble-header-menu-item.childless::after {
  display: none;
}

.pebble-header-menu-item.selected::before {
  left: calc(-1 * var(--menu-height));
  border-bottom-right-radius: var(--menu-radius);
  box-shadow: calc(var(--menu-height) / 2) 0 0 var(--selected-background);
}

.pebble-header-menu-item.selected::after {
  right: calc(-1 * var(--menu-height));
  border-bottom-left-radius: var(--menu-radius);
  box-shadow: calc(var(--menu-height) / -2) 0 0 var(--selected-background);
}

.records {
  --selected-background: light-dark(#4c6ef5, #2b2a33);
  --selected-accent: light-dark(#364fc7, #8ba1ff);
  --selected-hover: light-dark(#8ba1ff, #5e75d2);
  --selected-color: white;
}

.design {
  --selected-background: light-dark(#1daa9e, #2b2a33);
  --selected-accent: light-dark(#115e59, #68d7c7);
  --selected-hover: light-dark(#68d7c7, #1d8079);
  --selected-color: white;
}

.console {
  --selected-background: light-dark(#fbbf24, #2b2a33);
  --selected-accent: light-dark(#e67700, #fbca50);
  --selected-hover: #fbca50;
  --selected-color: light-dark(black, white);
}

.settings {
  --selected-background: light-dark(#fa5252, #2b2a33);
  --selected-accent: light-dark(#c92a2a, #fca4a4);
  --selected-hover: #fca4a4;
  --selected-color: white;
}

/* Templates */

.pebble-templates-listing-placeholder,
.pebble-layouts-listing-placeholder,
.pebble-contacts-listing-placeholder,
.pebble-fragments-listing-placeholder,
.pebble-schemas-listing-placeholder,
.pebble-templates-listing-list,
.pebble-layouts-listing-list,
.pebble-contacts-listing-list,
.pebble-fragments-listing-list,
.pebble-fragments-listing-table,
.pebble-schemas-listing-list,
.pebble-menu-editor {
  flex-basis: 850px;
}

.pebble-templates-listing-placeholder,
.pebble-layouts-listing-placeholder,
.pebble-contacts-listing-placeholder,
.pebble-fragments-listing-placeholder,
.pebble-schemas-listing-placeholder,
.pebble-menu-editor-placeholder {
  opacity: 0.8;
  text-align: center;
  margin-top: 3em;
}

.pebble-templates-listing-list,
.pebble-layouts-listing-list,
.pebble-contacts-listing-list,
.pebble-fragments-listing-list,
.pebble-schemas-listing-list,
.pebble-menu-editor-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pebble-templates-listing-listitem:nth-child(2n-1),
.pebble-layouts-listing-listitem:nth-child(2n-1),
.pebble-contacts-listing-listitem:nth-child(2n-1),
.pebble-fragments-listing-listitem:nth-child(2n-1),
.pebble-fragments-listing-table-row:nth-child(2n-1),
.pebble-schemas-listing-listitem:nth-child(2n-1),
.pebble-menu-editor-listitem:nth-child(2n-1) {
  background-color: var(--alt-color);
}

.pebble-templates-listing-listitem a,
.pebble-layouts-listing-listitem a,
.pebble-contacts-listing-listitem a,
.pebble-fragments-listing-listitem a,
.pebble-fragments-listing-table-row a,
.pebble-schemas-listing-listitem a,
.pebble-menu-editor-listitem a {
  color: currentColor;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.pebble-templates-listing-listitem a:hover,
.pebble-layouts-listing-listitem a:hover,
.pebble-contacts-listing-listitem a:hover,
.pebble-fragments-listing-listitem a:hover,
.pebble-fragments-listing-table-row a:hover,
.pebble-schemas-listing-listitem a:hover,
.pebble-menu-editor-listitem a:hover {
  background: var(--selected-hover);
  color: black;
}

/* Components */

.modal {
  display: none;
}

.modal::before {
  content: "";
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: light-dark(#000000, #ffffff60);
  opacity: 0.5;
}

.modal > :first-child {
  position: relative;
  z-index: 102;
  background: white;
  background: Canvas;
  padding: 0.7em;
}

.pebble-templates-new-form,
.pebble-layouts-new-form,
.pebble-contacts-new-form,
.pebble-fragments-new-form,
.pebble-schemas-sidebar,
.pebble-menu-editor-sidebar {
  flex-basis: 225px;
}

.pebble-templates-new-form,
.pebble-layouts-new-form,
.pebble-contacts-new-form,
.pebble-fragments-new-form,
.pebble-schemas-new-form,
.pebble-menu-item-new-form,
.pebble-menu-category-new-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pebble-templates-new-form .input-container,
.pebble-layouts-new-form .input-container,
.pebble-contacts-new-form .input-container,
.pebble-fragments-new-form .input-container,
.pebble-schemas-new-form .input-container,
.pebble-menu-item-new-form .input-container,
.pebble-menu-category-new-form .input-container,
.pebble-templates-editor-sidebar .input-container,
.pebble-contacts-editor .input-container,
.pebble-fragments-editor .input-container,
.pebble-identity-editor .input-container,
.pebble-menu-item-editor .input-container,
.pebble-menu-category-editor .input-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.pebble-templates-new-form label,
.pebble-layouts-new-form label,
.pebble-contacts-new-form label,
.pebble-fragments-new-form label,
.pebble-schemas-new-form label,
.pebble-menu-item-new-form label,
.pebble-menu-category-new-form label,
.pebble-templates-editor label,
.pebble-contacts-editor label,
.pebble-fragments-editor label,
.pebble-identity-editor label,
.pebble-menu-item-editor label,
.pebble-menu-category-editor label {
  font-weight: bold;
}

.pebble-templates-new-form input,
.pebble-layouts-new-form input,
.pebble-contacts-new-form input,
.pebble-fragments-new-form input,
.pebble-schemas-new-form input,
.pebble-menu-item-new-form input,
.pebble-menu-category-new-form input {
  font-size: 1.2em;
}

.pebble-templates-new-form button,
.pebble-layouts-new-form button,
.pebble-contacts-new-form button,
.pebble-fragments-new-form button,
.pebble-schemas-new-form button,
.pebble-menu-item-new-form button,
.pebble-menu-category-new-form button,
.pebble-identity-editor button,
.pebble-menu-editor button {
  height: 30px;
  margin-top: 10px;
}

.pebble-templates-new-form-selects {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.pebble-templates-new-form-selects div {
  flex-grow: 1;
}

.pebble-templates-editor {
  margin-top: var(--header-offset); /* close the gap to the header */
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  width: 100%;
}

.pebble-templates-editor > .input-container {
  display: none;
}

.pebble-templates-editor-main {
  flex-basis: 850px;
}

.pebble-templates-editor-sidebar {
  flex-basis: 270px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  background: white;
  background: Canvas;
  padding: 0.5em;
}

.pebble-templates-editor-submit {
  height: 30px;
  margin-bottom: 10px;
}

.pebble-templates-editor-delete {
  margin-top: 15px;
}

.pebble-templates-editor-header {
  --padding: 10px;
  --height: 98px;

  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  height: var(--height);
  padding: var(--padding) 0;
}

.pebble-templates-editor-header::before {
  content: '';
  z-index: -1;
  position: absolute;
  background: var(--selected-background);
  width: 100%;
  left: 0;
  height: var(--height);
  transform: translateY(calc(-1 * var(--padding)));
}

.pebble-templates-editor-header .input-container {
  display: contents;
}

.pebble-templates-editor-route {
  flex-grow: 1;
}

.pebble-templates-editor-id,
.pebble-layouts-editor-id,
.pebble-schemas-editor-id {
  font-family: monospace;
  width: 70px;
}

.pebble-templates-editor-title {
  font-size: 2em;
  width: 100%;
}

.pebble-templates-editor textarea,
.pebble-layouts-editor textarea,
.pebble-schemas-editor textarea,
.pebble-identity-schema-editor textarea {
  margin-top: 1.2em;
  width: 100%;
  height: 650px;
}

/* Layouts */

.pebble-layouts-editor,
.pebble-schemas-editor,
.pebble-identity-schema-editor {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  max-width: 600px;
  width: 100%;
}

.pebble-layouts-editor,
.pebble-schemas-editor {
  margin-top: var(--header-offset);
}

.pebble-layouts-editor-header,
.pebble-schemas-editor-header {
  --padding: 10px;
  --height: 60px;

  display: flex;
  flex-wrap: wrap;
  gap: 0.3em;
  height: var(--height);
  padding: var(--padding) 0;
}

.pebble-layouts-editor-header::before,
.pebble-schemas-editor-header::before {
  content: '';
  z-index: -1;
  position: absolute;
  background: var(--selected-background);
  width: 100%;
  left: 0;
  height: var(--height);
  transform: translateY(calc(-1 * var(--padding)));
}

.pebble-layouts-editor .input-container,
.pebble-schemas-editor .input-container,
.pebble-identity-schema-editor .input-container {
  display: contents;
}

.pebble-layouts-editor-header input,
.pebble-schemas-editor-header input {
  font-size: 1.3em;
}

@media (prefers-color-scheme: dark) {
  .pebble-layouts-editor-header input,
  .pebble-schemas-editor-header input,
  .pebble-templates-editor-header input {
    background: #1c1b22;
  }
}

.pebble-layouts-editor-title,
.pebble-schemas-editor-title {
  flex-grow: 1;
}

.pebble-layouts-editor-actions,
.pebble-schemas-editor-actions {
  display: flex;
  gap: 0.3em;
  align-items: center;
}

.pebble-layouts-editor-delete,
.pebble-schemas-editor-delete {
  margin-left: auto;
}

.pebble-layouts-editor-actions button,
.pebble-schemas-editor-actions button,
.pebble-identity-schema-editor button {
  padding: 0.5em 1em;
}

/* Schemas */

.pebble-schemas-new-form {
  padding-bottom: 1.5em;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1.5em;
}

/* Identity schema */

.pebble-identity-schema-editor-title {
  margin: 0;
  margin-bottom: -0.5em;
}

/* Contacts */

.pebble-contacts-editor,
.pebble-fragments-editor,
.pebble-identity-editor,
.pebble-menu-item-editor,
.pebble-menu-category-editor {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-basis: 500px;
  margin: 0 auto;
}

.pebble-fragments-editor input {
  font-size: 1.2em;
}

.pebble-contacts-editor-header,
.pebble-fragments-editor-header,
.pebble-menu-item-editor-header,
.pebble-menu-category-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.pebble-contacts-editor-title,
.pebble-fragments-editor-title,
.pebble-menu-item-editor-title,
.pebble-menu-category-editor-title {
  margin: 0;
}

.pebble-contacts-editor-id,
.pebble-fragments-editor-id,
.pebble-menu-item-editor-id,
.pebble-menu-category-editor-id {
  margin-top: 2px;
}

.pebble-contacts-editor input,
.pebble-menu-item-editor input,
.pebble-menu-category-editor input  {
  font-size: 1em;
}

.pebble-contacts-new-form-checkbox label,
.pebble-contacts-editor-checkbox label {
  font-weight: normal;
}

.pebble-contacts-editor-actions,
.pebble-fragments-editor-actions,
.pebble-menu-item-editor-actions,
.pebble-menu-category-editor-actions {
  display: flex;
  gap: 0.3em;
}

.pebble-contacts-editor-actions button,
.pebble-fragments-editor-actions button,
.pebble-menu-item-editor-actions button,
.pebble-menu-category-editor-actions button {
  flex-grow: 1;
  padding: 0.5em 1em;
}

/* Fragments */

.pebble-fragments-listing-table {
  border-collapse: collapse;
}

.pebble-fragments-listing-table th {
  padding-bottom: 0.5em;
}

.pebble-fragments-listing-table tr,
.pebble-fragments-listing-table td {
  padding: 0;
}

.pebble-fragments-listing-table th {
  text-align: left;
}

.pebble-fragments-listing-table tr:has(a:hover) {
  background: var(--selected-hover);
  color: black;
}

.pebble-fragments-editor textarea {
  min-height: 250px;
}

/* Settings & Console */

.pebble-console-placeholder,
.pebble-preferences-placeholder {
  margin: 0;
  width: 100%;
  text-align: center;
  margin-top: 4.5em;
}

/* Menu */

.pebble-menu-editor-title {
  margin: 0;
}

.pebble-menu-editor-list,
.pebble-menu-editor-placeholder {
  margin-bottom: 3.5em;
}

.pebble-menu-editor-sidebar {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.pebble-menu-editor-listitem {
  display: flex;
}

.pebble-menu-editor-listitem:has(a:hover) {
  background: var(--selected-hover);
  color: black;
}

.pebble-menu-editor-listitem a {
  flex-grow: 1;
}

.pebble-menu-editor-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pebble-menu-editor-actions .input-container {
  display: contents;
}

.pebble-menu-editor-category {
  max-width: min-content;
  flex-shrink: 1;
}

.pebble-menu-editor-order {
  max-width: 60px;
}

.pebble-menu-editor button {
  float: right;
}

.pebble-menu-editor-id {
  margin-right: 5px;
}